body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'prstart';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #282c34;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#logoSize{
  height: 200px;
}

#userCard{
  height: 210px;
  width: 200px;
  margin: 10px;
  padding: 0px 25px 5px;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  border-radius: 35px;
  /* text-align: center;  */
  color: black;
  background: #d7d7d7;
  font-size:14px;
  display: flex;
}

#UserCardIcon{
  height:220px;
  width: 130px;
}

#HPText{
  color: red;
}

#MPText{
  color: blue;
}

#bold{
  font-weight: bold;
}

.CharacterCard{
  width: 200px;
  margin: 10px;
  padding: 25px;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  border-radius: 35px;
  /* text-align: center;  */
  color: black;
  background: #d7d7d7;
  font-size:14px;
}

#characterSelectPage {
  justify-content: center;
  display: flex;
  /* background: #d7d7d7; */
  width: 800px;
  margin: auto;

}

.itemCard{
  width: 200px;
  margin: 10px;
  padding: 25px;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  border-radius: 35px;
  /* text-align: center;  */
  color: black;
  background-image: url(https://previews.123rf.com/images/nirut123rf/nirut123rf1702/nirut123rf170201540/71566432-top-wooden-shelves-and-concrete-wall-background-for-product-display-.jpg);
  background-size: 120px 320px;
  /* background: #d7d7d7; */
  font-size:14px;
}

.itemImage{
  width: 50px;
  margin:10px;
  flex-direction: column;
}

#characterPageBG{
  
  color: black;
  /* background: #d7d7d7; */
  height: 450px;
  width: 800px;
  background-image: url(https://i.pinimg.com/originals/a2/04/0e/a2040ebda73d0a603c42bf12e80b4f16.jpg);
  background-size: 800px 450px;
  margin: auto;
}

#characterPageInfo {
  justify-content: center;
  display: flex;
  /* background: #d7d7d7; */
  width: 800px;
  /* margin: 0px 400px 0px; */

}

#stats{
  display: inline-block;
  /* margin: 0px 40px 0px; */
  position:relative;
  left: 60px;
  padding: 0px 45px 0px;
}
#rest{
  /* background: #d7d7d7; */
  /* display: flex; */
  justify-content: left;
  width: 600px;
  height: 300px;
  color: black;
  background-image: url("parchment.png");
  background-size: 660px 340px;
  font-weight: bold;
  padding: 35px 28px 0px;
  margin: auto;
}

#coinSize{
  height: 20px;
}

#sword1{
  height: 20px;
  transform: rotate(0deg)
}

#sword2{
  height: 20px;
  transform: rotate(270deg)
}

#itemPage{
  background: #d7d7d7;
  display: flex;
  justify-content: left;
  /* align-items: center; */
  flex-wrap: wrap;
  width: 200px;
  height: 300px;
  color: black;
  font-weight: bold;
  /* padding: 50px; */
  background-image: url(https://cdn.wallpapersafari.com/38/17/kVcLpI.jpg); 
  background-size: 200px 320px;
  margin: auto;
  overflow-y: auto;
}

#restButtons{
  display: flex;
  justify-content: center;
  
}

.custButton{
  background-color: #98c1d9;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 30px;
  margin: 0px 5px 0px;
  /* text-decoration: none; */
  border-radius: 18px;
  transition-duration: 0.4s;
}

#buyStats{
  background-color: #98c1d9;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size:10px;
  margin: 0px 5px 10px;
  /* text-decoration: none; */
  border-radius: 18px;
  transition-duration: 0.4s;
}

#ChangeChar{
  background-color: #98c1d9;
  color: black;
  cursor: pointer;
  font-weight: bold;
  font-size: 10px;
  margin: 0px 5px 0px;
  /* text-decoration: none; */
  border-radius: 18px;
  transition-duration: 0.4s;
}

#ChangeChar:hover{
  background-color: red; /* Green */
  color: white;
}

.useButton{
  background-color: #98c1d9;
  color: purple;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
  /* margin: 0px 5px 0px; */
  /* text-decoration: none; */
  border-radius: 10px;
  transition-duration: 0.4s;
}

.useButton:hover{
  background-color: green; /* Green */
  color: Gold;
}

#storeGold {
  color: gold;
}

.upButton{
  background-color: #98c1d9;
  color: purple;
  cursor: pointer;
  font-weight: bold;
  margin: 0px 10px 0px;
  font-size: 18px;
  border-radius: 10px;
  transition-duration: 0.4s;
}

.downButton{
  background-color: #98c1d9;
  margin: 0px 10px 0px;
  color: purple;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  border-radius: 10px;
  transition-duration: 0.4s;

}

.downButton:hover{
  background-color: red; /* Green */
  color: white;
}

.upButton:hover{
  background-color: blue; /* Green */
  color: white;
}
.custButton:hover{
  background-color: #4CAF50; /* Green */
  color: white;
}

/* battle CSS */

#BattlePCCard{
  width: 150px;
  margin: auto;
  padding: 9px;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  border-radius: 35px;
  /* text-align: center;  */
  color: black;
  background: #d7d7d7;
  font-size:14px;
}

#BattleEnemyCard{
  height:30px;
  width: 90px;
  margin: auto;
  padding: 15px 25px 15px;
  box-shadow:  0 0 20px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.12);
  border-radius: 25px;
  /* text-align: center;  */
  color: black;
  background: #d7d7d7;
  font-size:14px;
}

#BattleText{
  margin: auto;
  padding: 5px;
  width: 430px;
  height: 300px;
  color: black;
  background-image: url(https://besthqwallpapers.com/Uploads/12-5-2021/167637/thumb2-yellow-paper-texture-macro-grunge-textures-retro-backgrounds-brown-paper-background-paper-backgrounds.jpg);
  background-size: cover;
  /* background-color: red; */
  /* background: #d7d7d7; */
  overflow: auto;
}

#InnerBattleText{
  margin: 9px;
 
}

#BattleOptions{
  margin: auto;
}
/* firefox */
/* progress::-moz-progress-bar { background: red; } */
/* chrome */
/* progress::-webkit-progress-value { background: green; } */
/* progress { color: red; } */

/* #manaBar progress::-webkit-progress-value { background: green; } */

#healthBar{
  /* -webkit-appearance: none; */
  /* appearance: none; */
  background: yellow;
  /* color: blue; */
}

#manaBar{
  background: yellow;
  /* color: blue; */
}
#signUpPage{
  justify-content: center;
  /* display: flex; */
  width: 200px;
  height: 180px;
  background: #8C0000;
}
#enemyHealthBar{
  background: yellow;
  width: 80px;
}